* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100px;
  background: linear-gradient(135deg, #020024, #090979, #000428);
  color: white;
  overflow-x: hidden;
  margin: 140px auto auto;
}

/* Main container */
.landing-container {
  width: 100%;
  min-height: 20vh;
  padding-inline: 4rem;
}

.logo {
  width: 100%;
  transition: all 0.4s ease;
  margin-top: -10px;
}

.logo:hover {
  transform: scale(1.5) rotate(0deg);
}

/* Title */
.title {
  font-size: 48px;
  font-weight: bold;
  background: linear-gradient(90deg, #00c6ff, #b47cff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: -30px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 30px;
}

.tagline {
  font-size: 18px;
  color: #c9c9ff;
  margin-top: 0px;
}

/* Cards container */
.card-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 35px;
  flex-wrap: wrap;

  width: 100%;

  margin-top: 60px;
}

/* Card */
.card {
  background: rgba(255, 255, 255, 0.07);

  border: 1px solid rgba(255, 255, 255, 0.12);

  border-radius: 24px;

  padding: 35px;

  width: 340px;

  min-height: 520px;

  transition: all 0.4s ease;

  backdrop-filter: blur(12px);

  display: flex;
  flex-direction: column;
}

.card:hover {
  transform: translateY(-10px);

  border-color: #00e5ff;

  box-shadow:
    0 0 20px rgba(0, 229, 255, 0.35),
    0 0 50px rgba(0, 229, 255, 0.2),
    0 0 100px rgba(0, 229, 255, 0.12);
}

/* Card icon */
.card-icon {
  width: 70px;
  height: 70px;
  margin-bottom: 20px;
  background: linear-gradient(135deg, #00c6ff, #5b7cff);
  padding: 15px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 198, 255, 0.6);
}
.card h2 {
  margin-bottom: 10px;
  color: white;
  font-size: 2.2rem;
}

.card h4 {
  font-size: 13px;
  color: #00d2ff;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

.card p {
  font-size: 25px;
  opacity: 0.9;
  margin-bottom: 20px;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.85);
}

.card-candidate {
  font-size: 20px;
}

.card li {
  margin-bottom: 10px;
  color: rgba(255, 255, 255, 0.9);
}

.card-icon img {
  width: 100%;
  transition: transform 0.6s ease;
}

.card:hover .card-icon img {
  transform: rotate(360deg) scale(1.1);
}

/* Card text */
.card h2 {
  margin-bottom: 5px;
}

.card h4 {
  font-size: 13px;
}

.card p {
  font-size: 18px;
  opacity: 0.8;
  margin-bottom: 15px;
}

.card ul {
  margin-bottom: 20px;
  padding-left: 18px;
}

.card li {
  margin-bottom: 5px;
}

/* Buttons */
button {
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  background: linear-gradient(90deg, #00d2ff, #a855f7);
  color: white;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s;
}

.card button {
  margin-top: auto;
}

button:hover {
  opacity: 0.8;
}

/* Footer */
footer {
  text-align: center;
  margin-top: 80px;
  padding-bottom: 10px;
}

.landing-footer {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer-text {
  font-size: 18px;
  color: #9aa7c2;
  margin-bottom: 20px;
}

.signin-btn {
  padding: 15px;
  width: fit-content;
  border: none;
  border-radius: 40px;
  font-size: 18px;
  font-weight: 600;
  color: white;
  cursor: pointer;

  background: linear-gradient(90deg, #00c6ff, #3b82f6);

  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
  transition: all 0.3s ease;
}

.signin-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.6);
}
