server:
  port: 8082

spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/usermicroservices
    username: root
    password: Tiger

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true



  application:
    name: USER-MICROSERVICE